.editorText {
	width:100%;
	align-items: center;
	margin: 1rem auto 0 auto;
	background-color: #eee;
	min-height: 5rem;
}
.editorText .elem-btn-cont {position: absolute; left:10px; display: none;}
.editorText textarea { width:100%; height: calc(10ch); display: none;}
.editorText.editMode textarea{ display: block !important; }
.editorText.editMode .displayText { display: none;}
.editorText.editMode .elem-btn-cont {display: block;}
.editorText p,h2,h3,h4 {
	margin:0rem;
}
