.editorText {
	width:100%;
	align-items: center;
}
.editorText textarea {
	width:99%;
	height: 3rem;
	display: none;
}
.editorText.editMode textarea{ display: block !important; }
.editorText.editMode .displayText { display: none;}
.editorText p,h2,h3,h4 {
	margin:0rem;
}
