.editorPicture {
	text-align: center;
}
.editorPicture.editMode>.edit{
	display: block;
}
.editorPicture>img { 
	display: inline-block;
	max-width: 100%;
}
.editorPicture>.edit{
	display: none;
}
.editorPicture.editMode > img { display: none; }
.editorPicture {
	width:100%;
	align-items: center;
}