.editorAction table {
	width:100%;
}
.editorAction td {
	text-align: left;
}
.editorAction>table button:not(.new) {
	all:unset;
	color:blue;
	cursor:pointer;
	text-decoration: underline;
}
.editorActionLastRow {
	text-align: right;
}

@media (max-width: 600px) {
	.editorAction table {
		width: 100%;
	}
	.editorAction td {
		display: block;
		width: 100%;
	}
	.editorAction>table button:not(.new) {
		display: block;
		margin-top: 5px;
	}
	.editorActionLastRow {
		text-align: center;
	}
	.editorAction thead{
		display: none;
	}
}